@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 0 0% 0%;
    --color-foreground: 0 0% 100%;
    --color-primary: 40 60% 50%;
    --color-border: 0 0% 28%;

    ::selection {
      @apply bg-primary text-background;
    }

    body,
    html {
      @apply bg-background font-body;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    label {
      @apply font-heading;
    }

    label + div {
      @apply !h-12 max-h-none !border-foreground/40;
    }

    input {
      @apply !h-12 max-h-none shrink-0 !border-foreground/40 focus:!border-foreground;
    }

    button[type='submit'] {
      @apply mt-2 !h-14 max-h-none shrink-0 text-center font-heading text-lg uppercase !ring-1 !ring-foreground/40 !transition-all duration-300 ease-out hover:!ring-foreground sm:text-xl;
    }

    div#__next {
      overflow: visible;
    }

    body > div {
      background: transparent !important;
    }
  }
}
